<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Carte avec Leaflet et Vue.js</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.3.1/gpx.min.js"></script>
    <script src="https://unpkg.com/leaflet-omnivore@0.3.4/leaflet-omnivore.min.js"></script>
    <link rel="stylesheet" href="index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style>
        #map {
            height: 600px;
            width: 80%;
        }
        #controls {
            width: 100px;
        }


    </style>
</head>
<body>
    <div id="app">

        <h1>Carte avec OpenStreetMap et Vue.js</h1>

        <div id="controls">
            <div>
                <input type="text" id="location-input" v-model="location" ref="locationInput" placeholder="Entrez un lieu" />
            </div>

            <div>
                <button @click="chercher" >Chercher</button>
            </div>

            <div>
                <button @click="imprimer">Imprimer</button>
            </div>

            <div id="depart_arrivee">
                <div id="depart">
                    <input type="text" v-model="startLocation" style="height: 30px; width: 300px;" placeholder="Départ"/>
                </div>

                <div id="arrivee">
                    <input type="text" v-model="endLocation" style="height: 30px;  width: 300px;" placeholder="Arrivée"/>
                </div>
            </div>

            
            <div>
                <div>
                    <button @click="trouverChemin">Trouver Chemin</button>
                </div>

                <div style="display: flex; flex-direction: row; justify-content: space-between; width: 400px ;">
                    <div>
                        <label>
                            <input type="radio" v-model="transportType" value="0"> Véhicule motorisé
                        </label>
                    </div>

                    <div>
                        <label>
                            <input type="radio" v-model="transportType" value="1"> Piéton
                        </label>
                    </div>

                    <div>
                        <label>
                            <input type="radio" v-model="transportType" value="2"> Cycliste
                        </label>
                    </div>

                    <div>
                        <label>
                            <input type="radio" v-model="transportType" value="3"> Véhicule sans permis
                        </label>
                    </div>
                </div>
            </div>

          
            <div>
                <button @click="exporterCheminGpx"> Exporter Chemin Gpx </button> 
            </div>

            <div>
                <button @click="exporterCheminKml"> Exporter Chemin Kml </button> 
            </div>
           

            <label>
                <span id="import">Importer</span>
                <input type="file" id="fichier" name="fichier" accept=".gpx, .kml"/>
            </label>



        </div>
        
        <div id="map" style=" margin: auto;"></div>
    </div>

    <br> <br> <br>
    <script src="index.js"></script>
</body>
</html>

