<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Carte avec Leaflet et Vue.js</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    
<link rel="stylesheet" href="index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="app">

        <h1>Carte avec OpenStreetMap et Vue.js</h1>

        <div id="controls">
            <input type="text" id="location-input" v-model="location" ref="locationInput" placeholder="Entrez un lieu" />
            <button @click="chercher">Chercher</button>
	    <input type="text" v-model="startLocation" ref="startLocation" placeholder="Départ"/>
	    <input type="text" v-model="endLocation" ref="endLocation" placeholder="Arrivée"/>
        <input type="number" v-model="segmentCount" min="1" placeholder="Nombre de segments">

            <button @click="trouverChemin">Trouver Chemin </button> 
            <button @click="imprimer">Imprimer</button>
            <label>
            	<span id="import">Importer</span>
            	<input type="file" id="fichier" name="fichier" accept=".gpx, .kml"/>
            </label>
        </div>
        
        <div id="map"></div>
    </div>

    <br> <br> <br>
    <script src="index.js"></script>
</body>
</html>

