<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Check list</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1>The CheckList</h1>
        <input type="text" v-model="message"/>
        <a href="#" @click="ajouterNote" v-if="message != '' ">Ajouter</a>
        {{ message }}

        <p v-bind:title="message" v-for="todo in todos" @click="inverser">
            {{ todo }}
        </p>
    </div>
    <script>
        const vm = Vue.createApp({
            data(){
                return{
                    message: 'Hello World !',
                    todos: ['Sauver le monde',"Apprendre Vue.js",'Aller manger']
                }
            },
            methods:{
                inverser(){
                    this.todos.reverse();
                },
                ajouterNote(){
                    this.todos.push(this.message);
                    this.message = '';
                }
            }
        })
        
        vm.component('note', {
            props: ['content'],
            template: `<p> {{ content }} </p>`
        })

        vm.mount('#app');
    </script>
</body>
</html>